<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn2NLHDVLtG8I5GBvHinH0wPOUJSadE-w</string>
	<key>GCM_SENDER_ID</key>
	<string>605736509175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bonepayDemo</string>
	<key>PROJECT_ID</key>
	<string>bonepay-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>bonepay-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605736509175:ios:56f088497edf3ab4c23df2</string>
</dict>
</plist>